{% include "nav.html" %}

<div class="container mt-5">
  <div class="bg-white px-4 py-5">
    <h2 class="text-info pb-3">Comparison: Latitude vs X</h2>
    <hr />
    <p class=small>Click any plot to get an in-depth analysis</p>
    <div class="text-center text-info py-4">
      <div class="row">
          <div class="col-lg-6">
            <h4>vs. Max max-temperature</h4>
            <a href="/plots/max-temperature">
              <img
                src="../static/assets/images/Fig1.png"
                alt="Fig1"
                width="100%"
                class="py-3"
              />
            </a>
          </div>
          <div class="col-lg-6">
              <h4>vs. humidity</h4>
              <a href="/plots/humidity">
                <img
                  src="../static/assets/images/Fig2.png"
                  alt="Fig2"
                                width="100%"
  
                  class="py-3"
                />
              </a>
          </div>
      </div>
        <div class="row">
          <div class="col-lg-6">
            <h4>vs. Cloudiness</h4>
            <a href="/plots/cloudiness">
              <img
                    src="../static/assets/images/Fig3.png"
                    alt="Fig3"
                                  width="100%"
  
                    class="py-3"
              />
            </a>
          </div>
          <div class="col-lg-6">
            <h4>vs. Wind Speed</h4>
            <a href="/plots/wind-speed">
              <img
                src="../static/assets/images/Fig4.png"
                alt="Fig4"
                              width="100%"
  
                class="py-3"
              />
            </a>
          </div>
        </div>

    </div>
    </div>
        </div>
      </div>
    </div>
  </div>
</div>
